.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------*/
#container {
  padding: 0 10%;
  background: rgb(235, 234, 234);
}

#navbar {
  background: rgb(218, 218, 218);
  display: flex;
  justify-content: center;
}
#navbar ul li {
  list-style: none;
  display: inline;
  font-weight: 600;
  padding: 40px;
  margin-top: 0;
}

#Header {
  background-image: url("./img/dan-meyers-utFO-7TScD4-unsplash.jpg");
  background-position: center;
  height: 600px;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Header div {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 1px 1px black;
  background: rgba(5, 5, 5, 0.7);
}
/*---sections---*/
section h1 {
  margin-left: 3%;
}

/*---About---*/
#About div {
  margin: 3%;
}
.download_btn {
  background: #1f1e1e;
  margin-left: 3%;
  padding: 1% 2%;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2px;
}

.download_btn:hover {
  background: rgb(65, 65, 65);
}
/*---Skills---*/

/*skills container*/
#Skills div {
  background: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1%;
}

/*Skills card*/
#Skills div span {
  background: #2B2B2B;
  color: white;
}

/*skill header*/
#Skills span h3 span {
  margin-left: 10%;
  border-bottom: 3px solid #11ABB0;
}
/*skills list*/
#Skills ul {
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  padding: 5% 10%;
}

/*underline*/
#Skills hr {
  color: #5cd4d8;
}


.fa-circle-notch {
  color: #5cd4d8;
  font-size: 75%;
}